@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
*{
  font-family: 'Questrial', sans-serif;
}
.workleft{
  z-index:2;
  color:rgb(235, 229, 229);
  margin-left:300px;
  margin-top:100px;
  background-color: rgb(167, 163, 163);
  width:350px;
  height: 300px;
  box-shadow: 5px 10px 8px #c7c9c1;
  padding-left:100px;
  padding-top:100px;
  opacity:0.7;
  border-radius:40px;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  -ms-border-radius:40px;
  -o-border-radius:40px;
  margin-bottom: 30px;
 
}
.workright{
  z-index: 2;
  color:white;
  margin-left:400px;
  margin-top:100px;
  background-color: rgb(132, 122, 122);
  width:350px;
  height: 300px;
  padding-left:100px;
  padding-top:100px;
  opacity:0.7;
  box-shadow: 5px 5px 8px  #939c9f;
  border-radius:40px;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  -ms-border-radius:40px;
  -o-border-radius:40px;
  margin-bottom: 30px;
}
.sidebar{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color:rgb(213, 208, 208);
  left: 0;
  overflow: hidden;
  text-align: center;
}
.sidebar a:visited {
  color:black;
}
.sidebar a:active{
  color:black;
}
#scroll{
  font-size: xx-large;
  background-color:rgb(235, 228, 228);
  margin-top:200px;
  margin-bottom: 200px;
  margin-left:600px;
  margin-right:600px;
  padding:10px;
}
.samp{
  margin-top: 100px;
  width:200px;
  opacity: 0.8;
  margin-bottom: 20px;
  background-color: rgb(164, 175, 186);
  height:100px;
  padding-top:80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header{
  font-size: xx-large;
  background:rgb(204, 201, 201);
  padding-left:250px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.nav{
  font-size: xx-large;
  background:rgb(179, 162, 162);
  padding-left:700px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 20px;
}
.footer{
  position:bottom;
  opacity: 0.8;
  font-size: xx-large;
  text-align: center;
  background:rgb(179, 162, 162);
  padding-left:200px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.link{
  margin-left:50px;
  margin-bottom:-100px;
  text-decoration: none;
  font-size: x-large;
}
.link:active{
  color:rgb(33, 41, 40);
}
.link:visited{
  color:rgb(33, 41, 40);
}
.link:hover{
  color:rgb(240, 229, 229);
}
#links{
  display:block;
  padding-top: 100px;;
}
#photo{
  background-image: url("./daniyal\ \(1\).jpg");
  height:150px;
  border-radius: 10px;
  width:120px;
  margin-top: 50px;
  margin-left: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.headicons{
  float: left;
  margin-left:50px;
  padding-left:900px;
}
.expert{
  height:300px;
  margin-bottom: 30px;
  width:250px;
  margin-top:150px;
  background-color: rgb(25, 27, 27);
  padding:5px;
  box-shadow: 5px 10px 8px #c2bfbf;
  color:white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sabout{
  overflow: hidden;
  padding-bottom: 100px;
}
.skill{
  height:200px;
  margin-top:150px;
  width:200px;
  margin-bottom: 30px;
  background-color: rgb(160, 160, 160);
  padding:55px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
.cskill{
  padding-top:20px;
  font-size:x-large ;
}
.data{
  height:100px;
  border-radius:20px ;
  background-color: rgb(193, 188, 188);
  width:200px;
  padding:20px;
  z-index: 1;
  color: rgb(74, 74, 72);
  -webkit-border-radius:20px ;
  -moz-border-radius:20px ;
  -ms-border-radius:20px ;
  -o-border-radius:20px ;
}
.between{
  background-color: rgb(216, 213, 213);
  margin-top: 50px;
  color: black;
  text-align: center;
  padding:30px;
}
.main{
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover ;
  white-space:nowrap;
}
.top{
  background-position: center center;
  background-image: url("./tab.jpg");
}
.show1{
  background-image: url("bg.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center ;
}
.show2{
  background-image: url("tutu.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center ;

}